<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clay.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @clay.description %>
</p>

<p>
  <strong>Cone:</strong>
  <%= @clay.cone %>
</p>

<p>
  <strong>Datetested:</strong>
  <%= @clay.datetested %>
</p>

<p>
  <strong>Casting:</strong>
  <%= @clay.casting %>
</p>

<p>
  <strong>Specificgravity:</strong>
  <%= @clay.specificgravity %>
</p>

<p>
  <strong>Dryshrink:</strong>
  <%= @clay.dryshrink %>
</p>

<p>
  <strong>Bisque:</strong>
  <%= @clay.bisque %>
</p>

<p>
  <strong>Glazeshrink:</strong>
  <%= @clay.glazeshrink %>
</p>

<p>
  <strong>Woa:</strong>
  <%= @clay.woa %>
</p>

<p>
  <strong>Atmosphere:</strong>
  <%= @clay.atmosphere_id %>
</p>

<p>
  <strong>K2o:</strong>
  <%= @clay.k2o %>
</p>

<p>
  <strong>Na2o:</strong>
  <%= @clay.na2o %>
</p>

<p>
  <strong>Li2o:</strong>
  <%= @clay.li2o %>
</p>

<p>
  <strong>Cao:</strong>
  <%= @clay.cao %>
</p>

<p>
  <strong>Mgo:</strong>
  <%= @clay.mgo %>
</p>

<p>
  <strong>Bao:</strong>
  <%= @clay.bao %>
</p>

<p>
  <strong>Sro:</strong>
  <%= @clay.sro %>
</p>

<p>
  <strong>Zno:</strong>
  <%= @clay.zno %>
</p>

<p>
  <strong>Pbo:</strong>
  <%= @clay.pbo %>
</p>

<p>
  <strong>Feo:</strong>
  <%= @clay.feo %>
</p>

<p>
  <strong>Cuo:</strong>
  <%= @clay.cuo %>
</p>

<p>
  <strong>Coo:</strong>
  <%= @clay.coo %>
</p>

<p>
  <strong>Nio:</strong>
  <%= @clay.nio %>
</p>

<p>
  <strong>Al2o3:</strong>
  <%= @clay.al2o3 %>
</p>

<p>
  <strong>B2o3:</strong>
  <%= @clay.b2o3 %>
</p>

<p>
  <strong>Fe2o3:</strong>
  <%= @clay.fe2o3 %>
</p>

<p>
  <strong>P2o5:</strong>
  <%= @clay.p2o5 %>
</p>

<p>
  <strong>Sb2o3:</strong>
  <%= @clay.sb2o3 %>
</p>

<p>
  <strong>Cr2o3:</strong>
  <%= @clay.cr2o3 %>
</p>

<p>
  <strong>V2o5:</strong>
  <%= @clay.v2o5 %>
</p>

<p>
  <strong>Sio2:</strong>
  <%= @clay.sio2 %>
</p>

<p>
  <strong>Tio2:</strong>
  <%= @clay.tio2 %>
</p>

<p>
  <strong>Zro2:</strong>
  <%= @clay.zro2 %>
</p>

<p>
  <strong>Sno2:</strong>
  <%= @clay.sno2 %>
</p>

<p>
  <strong>Mno2:</strong>
  <%= @clay.mno2 %>
</p>

<%= link_to 'Edit', edit_clay_path(@clay) %> |
<%= link_to 'Back', clays_path %>
