<p id="notice"><%= notice %></p>

<h1>Listing Opacities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opacities.each do |opacity| %>
      <tr>
        <td><%= opacity.name %></td>
        <td><%= link_to 'Show', opacity %></td>
        <td><%= link_to 'Edit', edit_opacity_path(opacity) %></td>
        <td><%= link_to 'Destroy', opacity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opacity', new_opacity_path %>
