<p id="notice"><%= notice %></p>

<h1>Listing Surfaces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surfaces.each do |surface| %>
      <tr>
        <td><%= surface.name %></td>
        <td><%= link_to 'Show', surface %></td>
        <td><%= link_to 'Edit', edit_surface_path(surface) %></td>
        <td><%= link_to 'Destroy', surface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surface', new_surface_path %>
