<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Eweight:</strong>
  <%= @material.eweight %>
</p>

<p>
  <strong>Ppg:</strong>
  <%= @material.ppg %>
</p>

<p>
  <strong>Colorant:</strong>
  <%= @material.colorant %>
</p>

<p>
  <strong>K2o:</strong>
  <%= @material.k2o %>
</p>

<p>
  <strong>Na2o:</strong>
  <%= @material.na2o %>
</p>

<p>
  <strong>Li2o:</strong>
  <%= @material.li2o %>
</p>

<p>
  <strong>Cao:</strong>
  <%= @material.cao %>
</p>

<p>
  <strong>Mgo:</strong>
  <%= @material.mgo %>
</p>

<p>
  <strong>Bao:</strong>
  <%= @material.bao %>
</p>

<p>
  <strong>Sro:</strong>
  <%= @material.sro %>
</p>

<p>
  <strong>Zno:</strong>
  <%= @material.zno %>
</p>

<p>
  <strong>Pbo:</strong>
  <%= @material.pbo %>
</p>

<p>
  <strong>Feo:</strong>
  <%= @material.feo %>
</p>

<p>
  <strong>Cuo:</strong>
  <%= @material.cuo %>
</p>

<p>
  <strong>Coo:</strong>
  <%= @material.coo %>
</p>

<p>
  <strong>Nio:</strong>
  <%= @material.nio %>
</p>

<p>
  <strong>Al2o3:</strong>
  <%= @material.al2o3 %>
</p>

<p>
  <strong>B2o3:</strong>
  <%= @material.b2o3 %>
</p>

<p>
  <strong>Fe2o3:</strong>
  <%= @material.fe2o3 %>
</p>

<p>
  <strong>P2o5:</strong>
  <%= @material.p2o5 %>
</p>

<p>
  <strong>Sb2o3:</strong>
  <%= @material.sb2o3 %>
</p>

<p>
  <strong>Cr2o3:</strong>
  <%= @material.cr2o3 %>
</p>

<p>
  <strong>V2o5:</strong>
  <%= @material.v2o5 %>
</p>

<p>
  <strong>Sio2:</strong>
  <%= @material.sio2 %>
</p>

<p>
  <strong>Tio2:</strong>
  <%= @material.tio2 %>
</p>

<p>
  <strong>Zro2:</strong>
  <%= @material.zro2 %>
</p>

<p>
  <strong>Sno2:</strong>
  <%= @material.sno2 %>
</p>

<p>
  <strong>Mno2:</strong>
  <%= @material.mno2 %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
