<!DOCTYPE html>
<html>
<head>
  <title>App13</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track', 'jquery' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_header">
	<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
  		<% if current_user.admin? %> ADMIN <% end %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
</div>

<%= yield %>

</body>
</html>
